*{
    margin:0;
    border:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header-section{
    display: flex;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 -14px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-section img{
    
    margin: 1px 0px;
    width: 2%;
    padding-left: 35%;
}
.para-label{
    margin: 10px 0px;
    opacity: 0.5;
    font-size: 17px;
}
.english{
    margin: 10px 0px;
    opacity: 0.5;
    font-size: 17px;
    padding-left: 18%;
    font-size: 17px;
}
.form-wrapper{
    margin: auto;
    margin-top: 2%;
    width: 29%;
}
.form-wrapper h3{
    font-size: 28px;
}
.form-wrapper p{
    margin-top: 7%;
    margin-bottom: 3%;
    font-weight: 100;
}
.innerform-wrapper{
    display: flex;
}
input[type=text] {
    width: 145%;
    padding: 8px 7px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #c4c5d6;
    border-radius: 21px;
  }
  .btn-search{
    
    margin-top: 28px;
    /* margin-bottom: 8px; */
    padding: 8px 19px;
    background-color: #1da1f2;
    /* opacity: 0.5; */
    color: #fff;
    font-size: 15px;
    border-radius: 18px;
  }
