*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.login-wrapper{
    margin: auto;
    width: 27%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo-wrapper {
    padding-bottom: 23px;
}
.logo-wrapper img{
    width: 60px;
    height: 60px;
}
.login-text{
    font-size: 23px;
    padding-bottom: 15px;
}
input[type=text] {
    width: 100%;
    padding: 18px 7px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #c4c5d6;
    border-radius: 5px;
    font-size: 18px;
  }
  input[type=password] {
    width: 100%;
    padding: 18px 7px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #c4c5d6;
    border-radius: 5px;
    font-size: 18px;
  }
  .btn-login{
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0;
    border-radius: 23px;
    font-size: 18px;
    background-color: #1da1f2;
    color: #ffffff;
    opacity: 0.5;
  }
  .footer-action{
    display: flex;
    padding: 24px 0px;
    justify-content: center;
  }
  .footer-action a{
    padding-right: 12px;
    text-decoration: none;
    color: #1b95e0;
  }


